:root {
  /*Colors*/
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #c6c6c6;
  --header-color: #000000;
  --greyed-out: #c6c6c6;

  /*Fonts*/
  --main-font: 'Poppins', sans-serif;
  --heading-font: 'Merriweather', serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Global Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: fadein 0.5s;
}

body {
  align-content: center;
  text-align: center;
}

.clickable {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.1s;
}

.clickable:hover {
  transform: scale(1.1);
}

.pressed {
  text-decoration: underline;
  color: grey;
}

.bar {
  display: inline-flex;
  flex-direction; row;
  gap: 10px;
}

.iconLink { 
  vertical-align: middle;
  text-decoration: none;
}

.iconLink > img { 
  height:2em;
}

.imageGallery > img {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}
  
